[user]
	signingkey = A0B3015BF635563FA57059D0A040F4DAFC68FFE8
[core]
    editor = helix
[merge]
	tool = vimdiff
[push]
	default = matching
	autoSetupRemote = true
[alias]
    all = "!f(){ find -type d -name .git -prune | xargs -t -I{} git -C {}/../ $@; }; f"
    sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
[rebase]
    instructionFormat = %s [%an]
	autosquash = true
[pull]
    rebase = true
[mergetool]
    path = nvim
	conflictStyle = zdiff3
[mergetool "vimdiff"]
	path = nvim

# difftastic
[diff]
        tool = difftastic
[difftool]
        prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true