[user]
	signingkey = A0B3015BF635563FA57059D0A040F4DAFC68FFE8
[diff]
    tool = vimdiff
[core]
    editor = nvim
[difftool]
    prompt = true
[merge]
	tool = vimdiff
[push]
	default = matching
[alias]
	all = "!f(){ find -type d -name .git -prune | xargs -t -I{} git -C {}/../ $@; }; f"
[rebase]
    instructionFormat = %s [%an]
[pull]
    rebase = true
[mergetool]
    path = nvim
[mergetool "vimdiff"]
	path = nvim
